*{
    font-family: "Open Sans",arial,sans-serif;
}

.header{
    height: 100vh;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("image/code.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.headertitre{
    display:block;
    text-align: center;
    padding: 325px 30px 10px 700px;
    color: seashell;
    font-size: 30px;
}

.navbar{         
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    background-color: rgb(253, 67, 69);
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 40px 10px 40px;
    color: seashell;
}

.navtitre{
    display: flex;
}

.navmenu{
    display: block;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

li{
   padding: 0 10px 0 10px;
}

.apropos{
    height: 100vh;
    width: 100%;
    background-color: rgb(38, 51, 71);
}

.titrearticle{
    text-align: center;
    padding-top: 85px;
    font-size: 35px;
    text-decoration: underline rgb(253, 67, 69);
}

.cv{
    height: 100vh;
    width: 100%;
    background-color: seashell ;
}

.portfolio{
    height: 100vh;
    width: 100%;
    background-color: rgb(38, 51, 71);
}

.contact{
    height: 100vh;
    width: 100%;
    background-color: seashell ;
}

.btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #3e8e41;
    color: red;
  }

  .center{
      text-align: center;
  }

  .présentation{
      width: 350px;
      color: seashell;
      margin: 40px 0px 0px 200px;
      font-size: 20px;
      float: left;
  }

.imgcv{
    margin: 40px 0px 0px 350px;
    width: 24%;
    height: 24%;
}

.progress{
    margin: 40px 0px 0px 440px;

}
.sql{
    width: 650px;
    height: 25px;
    background-color: rgb(253, 67, 69);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px ;
}

.php{
    width: 650px;
    height: 25px;
    background-color: rgb(253, 67, 69);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 15px ;
}
.html{
    width: 600px;
    height: 25px;
    background-color: rgb(253, 67, 69);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 15px ;
}
.css{
    width: 550px;
    height: 25px;
    background-color: rgb(253, 67, 69);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 15px ;
}
.java{
    width: 500px;
    height: 25px;
    background-color: rgb(253, 67, 69);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 15px ;
    margin-bottom: 25px; 
}
.python{
    width: 500px;
    height: 25px;
    background-color: rgb(253, 67, 69);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 15px ;
}

.adobe{
    width: 700px;
    height: 25px;
    background-color: rgb(253, 67, 69);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px ;
}
.ccna{
    width: 600px;
    height: 25px;
    background-color: rgb(253, 67, 69);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 15px ;
}
.dns{
    width: 600px;
    height: 25px;
    background-color: rgb(253, 67, 69);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 15px ;
}
.wp{
    width: 550px;
    height: 25px;
    background-color: rgb(253, 67, 69);
    font-size: 20px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 15px ;
}

.imgportfolio{
    width: 100%;
    height: 100%;
}

.divport{
    width: 200px;
    height: 370px;
    margin-top: 40px;
    margin-left: 227px;
    float: left;
}
.porttitre{
    color: seashell;
    font-size: 30px;
}

.contactbox {
    margin-top: 40px;
    margin-left: 300px;
}
 
textarea {
        margin-top: 8px;
}
 
.contact1 {
    width: 25%;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}
 
.contact2 {
    width: 39%;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}
 
.contact3 {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
 
.envoyer {
    width: 15%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 70px;
    background-color: rgb(253, 67, 69);
}

a{
    color: seashell;
    text-decoration: none;
}